* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    top: 20px;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
}



.logo {
    /* display: inline-block; */
    width: 80px;
    height: 80px;
    left: 30px;
    background-image: url("../img/logo.png");
    background-size: cover;
}

.navbutton {
    color: black;
    padding: 10px;
    right: -90px;
    text-decoration: none;
    font-size: 14px;
}

.section {
    width: 100%;
    height: 100%;
}


.artical {
    width: 50%;
    height: 100%;
}

h1 {
    left: 50px;
    top: 100px;
    font-size: 40px;
    word-spacing: 6px;
}
span{
    color: green;
}
p {
    left: 50px;
    top: 130px;
    line-height: 23px;
}
.button {
    width: 100px;
    height: 30px;
    border-radius: 40px;
    left: 50px;
    top: 150px;
    color: white;
    text-align: center;
    line-height: 27px;
    transition: all 0.5s;
    background-color: green;
    cursor: pointer;
}

.button:hover {
   background-color: rgb(167, 224, 167);
}


.rightpicture {
    width: 50%;
    height: 100%;
    right: -50%;
    
}

.back {
    width: 100%;
    height: 100%;
    background-color: rgb(224, 155, 129);
    position:absolute;
    top: 0px;
    right: 0px;
    clip-path: circle(600px at right 800px);
}
.picture {
    width: 260px;
    height: 390px;
    /* background-image: url("../img/img1.png"); */
    background-size: cover;
    position: absolute;
    top: -170px;
    left: 120px;
}

.icon {
    width: 30px;
    height: 120px;
    position: absolute;
    top: -50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.ig {
    background-image: url("../img/instagram.png");
    width: 23px;
    height: 23px;
    background-size: cover;
    cursor: pointer;
}
.twitter {
    background-image: url("../img/twitter.png");
    width: 23px;
    height: 23px;
    background-size: cover;
    cursor: pointer;
}
.fb {
    background-image: url("../img/facebook.png");
    width: 23px;
    height: 23px;
    background-size: cover;
    cursor: pointer;
}

.p1 {
    width: 60px;
    height: 85px;
    /* background-image: url("../img/img1.png"); */
    background-size: cover;
    position:absolute;
    top: 470px;
    left: 540px;
    cursor: pointer;
}

.p2 {
    width: 60px;
    height: 85px;
    /* background-image: url("../img/img2.png"); */
    background-size: cover;
    position:absolute;
    top: 470px;
    left: 610px;
    cursor: pointer;
}

.p3 {
    width: 60px;
    height: 85px;
    /* background-image: url("../img/img3.png"); */
    background-size: cover;
    position:absolute;
    top: 470px;
    left: 680px;
    cursor: pointer;
}